apache-airflow-providers-snowflake
apache-airflow-providers-amazon
beautifulsoup4
pandas
requests
selenium
webdriver-manager
requests
python-dotenv
docling
mistralai>=1.5.1,<2.0.0
sentence_transformers 
chromadb
pinecone